<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <timestamp key="timestamp" datePattern="yyyyMMdd_HHmmss" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>[%highlight(%-5level)] [%d{HH:mm:ss.SSS}] [%green(%logger)] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/debug_${timestamp}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <outputPatternAsHeader>false</outputPatternAsHeader>
            <pattern>[%-5level] [%d{HH:mm:ss.SSS}] [%logger / %thread] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="Application" level="WARN" />
    <logger name="Tweetstorm" level="INFO" />
    <logger name="Penicillin" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
